body {
    font-family: 'Montserrat', sans-serif;
}
.jumbotron {
    /* Background */
    background-attachment: fixed;
    background-image: url(salkantay-trail-peru.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Fonts */
    /* The text-shadow helps the white text stand out better on a darker background */
    color: white;
    text-shadow: 1px 1px 1px black;
  }